.Renew{

    max-width:400px;
    /* height: 30vh; */
    background-color: azure;
    margin-left: 20px;
    margin-top: 10px;

}   

.heading-title-renew{
    background-color: yellow;
    
        padding: 17px;
        font-size: 1.5rem;
        border-bottom: 1px solid whitesmoke;
}
.addremind-icons-renew{
    display: flex;
        justify-content: flex-end;
        background-color:yellow;
        padding: 15px;
}